<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>

    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta name="viewport" content="viewport-fit=cover,width=device-width, initial-scale=1.0" />
</head>

<body>

    <div class="page page--dashboard">
        <aside class="page_aside aside vertical vertical-big">
            <div class="text aside_logo">
                Sidebar
            </div>
            <nav class="vertical vertical--small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text--light">Home</span>
                </a>
            </nav>

            <nav class="vertical vertical_1">
                <a href="#" class="nav-button ">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/orders.svg')"></span>
                    <span class="text text--light">Orders</span>
                </a>
            </nav>
            <nav class="vertical vertical_2">
                <a href="#" class="nav-button ">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/products.svg')"></span>
                    <span class="text text--light">Products</span>
                </a>
            </nav>

        </aside>
        <header class="header">
            <div class="layout header_content text--small">
                <div class="header_search relative">
                    <input type="text" placeholder="Search" class="text field field--header">
                    <span class="icon header_icon-search" style="background-image: url('/svg/header/search.svg')">
                        <span class="icon icon--header-setting icon--button icon--color-blue click"
                            style="background-image: url('/svg/header/setting.svg')"></span>
                    </span>
                </div>
                <div class="refs">
                    <a href="#"><img src="img/dashboard/left-icon2.png" alt="left-icon2"></a>
                    <a href="#"><img src="img/dashboard/middle-icon2.png" alt="middle-icon2"></a>
                    <a href="#"><img src="img/dashboard/right-icon2.png" alt="right-icon2"></a>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic_block">


                    <div class="analytic analytic--double a">
                        <span class="icon analytic_circle"
                            style="background-image: url('img/dashboard/elipse.png')"></span>
                        <span class="icon analytic_arrow"
                            style="background-image: url('img/dashboard/arrow1.png')"></span>
                        <span class="icon" style="background-image: url('img/dashboard/earning.png')">
                        </span>
                        <strong class="feat_card_title">$500.00</strong>
                        <p>Total earning</p>

                    </div>
                    <div class="analytic analytic--double b">
                        <span class="icon" style="background-image: url('img/dashboard/order.png')">
                        </span>
                        <strong class="feat_card_title">$961</strong>
                        <p>Total order</p>
                    </div>
                    <div class="analytic c">
                        <span class="icon" style="background-image: url('img/dashboard/income.png')">
                        </span>
                        <div class="card_i">
                            <strong class="feat_card_title">$203k</strong>
                            <p>Total income</p>
                        </div>

                    </div>
                    <div class="analytic d">
                        <span class="icon" style="background-image: url('img/dashboard/total-income2.png')">
                        </span>
                        <div class="card_i">
                            <strong class="feat_card_title">$203k</strong>
                            <p>Total income</p>

                        </div>

                    </div>
                    <!--/div-->
                </section>


                <section class="pp0">

                    <div class="pp">
                        <div class="pu-head">

                            Purchase list
                        </div>

                        <hr>
                        <div class="features_grid_41">
                            <div class="ppp a1">
                                ID437661
                                <br>
                                May 11, 2023, 14:21
                            </div>

                            <div class="ppp b1">

                                AirOn ProCam
                                <br>
                                7/8 USB Type-C

                            </div>
                            <div class="ppp c1">

                                132.32 EUR
                                <br>
                                Not paid

                            </div>
                            <div class="ppp d1">

                                Customer
                                <br>
                                robin@com.de

                            </div>
                        </div>
                        <hr>
                        <div class="features_grid_41">
                            <div class="ppp a2">
                                ID437661
                                <br>
                                May 11, 2023, 14:21

                            </div>

                            <div class="ppp b2">

                                PHILIPS Essential
                                <br>
                                HD9200/90

                            </div>
                            <div class="ppp c2">

                                543 USD
                                <br>
                                Pay by Stripe

                            </div>
                            <div class="ppp d2">

                                Customer
                                <br>
                                dima@com.ua

                            </div>
                        </div>
                    </div>

                    <div class="block">

                        <div class="pu-head">
                            Payment
                        </div>
                        <hr>
                        <div class="pu-input">
                            <input type="radio" id="cc" name="fav_language" value="HTML">
                            <label for="cc">Credit card</label><br>
                            <input type="radio" id="dc" name="fav_language" value="CSS">
                            <label for="dc">Debit card</label><br>
                            <input type="radio" id="paypal" name="fav_language" value="JavaScript">
                            <label for="paypal">PayPal</label>
                        </div>
                        <div class="but-block">
                            <div class="inp">
                                <label for="name">Name on card</label>
                                <br>
                                <input id='nane' class="form_input">
                            </div>

                            <div class="inp">
                                <label for="ccnumber">Credit card number</label>
                                <br>
                                <input id='ccnumber' class="form_input">
                            </div>
                            <!--/div>
                        <div class="but-block"-->
                            <div class="inp">
                                <label for="expiration">Expiration</label>
                                <br>
                                <input id='expiration' class="form_input">
                            </div>

                            <div class="inp">
                                <label for="cvv">CVV</label>
                                <br>
                                <input id='cvv' class="form_input" type="number">
                            </div>
                        </div>
                        <div class="but-block">
                            <div class="inp sele">
                                <label for="country">Country</label>
                                <br>
                                <select id="country" name="country" class="form_input">
                                    <option value="" selected>Choose</option>

                                    <option value="UA">UA</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="inp sele">
                                <label for="state">State</label>
                                <br>
                                <select id="state" name="state" class="form_input">
                                    <option value="" selected>Choose</option>

                                    <option value="UA">Volyn</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <button type="submit" class="form_button click">Continue to checkout</button>
                    </div>
                </section>





            </div>
        </main>

    </div>

</body>

</html>